<p> Search results: </p>
<tbody>
    <tr><td><%= searchResult.length %> results found<br>&nbsp;<br></td></tr>
    <% for( let index = 0; index < searchResult.length; index++ ) { %>
    <tr><td><%= searchResult[index] %></td></tr><br>
    <% } %>
</tbody>
&nbsp;<br>

<!-- This doesn't work!!!! -->
<a href="home.ejs"> go back </a>