<body>
    <table id="testResult">
        <thead>
          <tr>
            <th>email</th>
            <th>created</th>
          </tr>
        </thead>
        <tbody>
            <% for( let index = 0; index < emailResult.length; index++ ) { %>
                <tr>
                    <td>
                        <%= emailResult[index] %>
                    </td>
                    <td>
                        <%= createdResult[index] %>
                    </td>
                </tr>
            <% } %>
        </tbody>
      </table>
    <form method="POST" action='/register'>
        <input type="text" class="form" name="email" placeholder="Enter Your Email">
        <button>Join Now</button>
    </form>
    <form method="POST" action='/search'>
        <input type="text" class="form" name="search" placeholder="Enter Your Email">
        <button>search</button>
    </form>
</body>

<!-- //testResult -->